body {
text-align: center;
background-color: #4A504A;
}
table{
width: 100%;
}
.navigation a {
display: block;
text-decoration: none;
}
th a{
background: white;
border: 1px solid black;
color: black;
text-align: center;
background-position: center;
padding: 8px;
}
th a:hover {
background: #191919;
color: white;
}
hr .navigation {
color: black;
}
h1 {
border: 2px solid gray;
background-color: white;
width: 60%;
}
p {
background-color: #d5d6d5;
border: 1px solid black;
text-align: left;
padding: 7px;
margin: 7px;
max-width: 50%;
}
table .idk {
opacity: 0.8;
}
article {
float: left;
max-width: 60%;
}
asside {
margin-left: 60%;
overflow: hidden;
}
img {
position: right;
}