body {
text-align: center;
background-color: #4A504A;
}
table{
width: 100%;
}
.navigation a {
display: block;
text-decoration: none;
}
th a{
background: white;
border: 1px solid black;
color: black;
text-align: center;
background-position: center;
padding: 8px;
}
th a:hover {
background: #191919;
color: white;
}
hr .navigation {
color: black;
}
h1 {
border: 2px solid gray;
background-color: white;
width: 50%;
}
p {
background-color: #d5d6d5;
width: 60%;
border: 1px solid #4A504A;
text-align: left;
padding: 7px;
margin: 7px;
}
table .idk {
opacity: 0.8;
}